<mat-card>Ingrese los datos de los signos vitales</mat-card>

<form class="example-container" [formGroup]="form" #frmSignos="ngForm" (ngSubmit)="operar()" style="padding: 0em 1em;">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID de Paciente" required formControlName="id_paciente">
        </mat-form-field>
    </div>

    <div style="display: flex; flex-flow: row; align-items: center;">
        <mat-form-field class="example-full-width" style="flex-grow: 1;">
            <div *ngIf="f.id_paciente.errors?.required" class="invalido">Paciente es requerido</div>
            <div *ngIf="f.nombre.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</div>
            <input matInput placeholder="Paciente" minlength="3" required formControlName="nombre" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="nuevoPaciente()" [disabled]="!(f.id_paciente.errors?.required)" style="flex-grow: 0; margin-left: 1em;">
            <mat-icon>edit</mat-icon>&nbsp;
            <span>Nuevo Paciente</span>
        </button>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha" required formControlName="fecha" type="date">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura (Cº)" required formControlName="temperatura" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulsaciones p/min" required formControlName="pulso" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Respiraciones p/min" required formControlName="ritmoRespiratorio" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signos' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>