.invalido {
    /*float: right;*/
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 0.75em;
    color: #DD0044;
}

.full-width {
    width: 100%;
    position: relative;
}